htnml, body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Cairo', sans-serif;
  color: #B2B8A3;
  font-size: 125%;
}

h1 {
  font-size: 5.625rem;
  margin:50px auto 0 auto;
  font-family: 'Meow Script', cursive;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border: dotted;
  color: #EAF6F6;
  border-style: none none dotted;
  border-width: 6px;
  width: 8%;
}

a {
  color: #11999E;
}

.intro {
  margin: auto;
  width: 50%;
}
.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
}

.middle-container {
  padding-top: 50px;
  padding-bottom: 30px;

}

.bottom-container {
  background-color: #66BFBF;
  margin: 0;
  padding: 30px;
}

.bottom-container p {
  margin: 0;
  color: #EAF6F6;
}


.footer-link{
  color: #11999E;
}
.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.mountain {
  position: relative;
  top: 61px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.comp-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.solve-img {
  width: 40%;
  float: right;
  margin-left: 15px;
}

.btn {
  background: #58c1d1;
  background-image: -webkit-linear-gradient(top, #58c1d1, #2b88c2);
  background-image: -moz-linear-gradient(top, #58c1d1, #2b88c2);
  background-image: -ms-linear-gradient(top, #58c1d1, #2b88c2);
  background-image: -o-linear-gradient(top, #58c1d1, #2b88c2);
  background-image: linear-gradient(to bottom, #58c1d1, #2b88c2);
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: Arial;
  color: #ffffff;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
